
.fundoBlue{
    background:#1E90FF;
}

.fundoRed{
    background: #FF0000;
}

.div-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18rem;
}

.div-button button {
    margin: 0 2rem;
    cursor: pointer;
}

#buttonBlue {
    background-color: #FF0000;
    font-size: 1.1rem;
    color: #fff;
    width: 10rem;
    height: 2.5rem;
    border-radius: .6rem;
    border-color: #fff;
}

#buttonRed {
    background-color: #1E90FF;
    font-size: 1.1rem;
    color: #fff;
    width: 10rem;
    height: 2.5rem;
    border-radius: .6rem;
    border-color: #fff;
}


